{% extends 'eStoreShopBundle::adminLayout.html.twig' %}

{% block container %}

   <h2>Garment creation</h2>

    <form action="{{ path('eStoreShopBundleAdmin_garment_create') }}" method="post" {{ form_enctype(form) }}>
       
            
        {{ form_rest(form) }}
        <p>
            <input type="submit" value="Create"/>
        </p>
    </form>
   
{% endblock %}
