/**
 *
 *
 *
 */
#products {
	 width:100%;
	 margin-top:10px;
}

#products li {
	display:inline-block;	
	margin-left:10px;
	border:1px solid #ECECEC;
	margin-bottom:10px;
	max-width:130px;
        width:130px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

#products li > img {
	margin-left:2px;
	margin-right:2px;
	max-width:125px;
	max-height:200px;
	margin:2px;
	margin-bottom:0px;
}

#products li div {
	padding:5px;
	background-color:#F7F7F7;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	line-height:20px;
}

#products li div span {
	font-weight:bold;
}

.add-to-cart {
    float:right;
    cursor: pointer;
}

.product-name {
    font-weight: bold;
    color:#3F70B0;
}