{% extends 'eStoreShopBundle::adminLayout.html.twig' %}

{% block container %}

    {% if app.session.hasFlash('category-notice') %}
        <div class="category-notice success">
            {{ app.session.flash('category-notice') }}
        </div>
    {% endif %}

    <div id="categories">
        
        {% for category in categories %}
            {{ category.name }}
        {% else %}
            {{ categories|raw }}
        {% endfor %}
        
    </div>


{% endblock %}