{% extends 'eStoreShopBundle::adminLayout.html.twig' %}

{% block container %}

   <h2>Category creation</h2>

    <form action="{{ path('eStoreShopBundleAdmin_category_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <input type="submit" name="submit_category" value="Create">
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="">
                Back to the list
            </a>
        </li>
    </ul>
   
{% endblock %}