{% extends 'eStoreShopBundle::adminLayout.html.twig' %}

{% block container %}
    

    <form action="{{ path('eStoreShopBundleAdmin_user_update', { 'id': user.id }) }}" method="post" {{ form_enctype(form) }} id="product-edit">
        
        {{ form_widget(form) }}
        
        <p>
            <input type="submit" value="Edit"/>
        </p> 
    </form>

{% endblock %}