<p>
    <span class="signup">SIGN UP</span> | 
    <span class="login">LOGIN</span>
</p>
<img src="{{ asset('bundles/estoreshop/img/icon-cart.png') }}" /> <span class="cart-items-number">2</span> items in cart <br /><br />
<a href="#">Check out!</a>
<br class="clear" />