<li><a href="{{ path('eStoreShopBundle_home') }}">E-STORE</a></li>

<li>
    <a href="">CATEGORIES</a>
       {{ categories|raw }}
</li>

<li><a href="{{ path('eStoreShopBundle_about') }}">ABOUT</a></li>
<li><a href="{{ path('eStoreShopBundle_contact') }}">CONTACT</a></li>