{% extends '::base.html.twig' %}

{% block title %}Awesome clothing - eStore{% endblock %}
{% block keywords %}clothing, store, estore, eStore, fashion, mens, womens, kids, tshirts, t-shirts, shirts, clothes, style{% endblock %}
{% block description %}Online clothing shop. Most awesome products on the web{% endblock %}



    
    
{% block stylesheets %}
    {{ parent () }}
    {% stylesheets  filter='cssrewrite' debug=false
            'bundles/estoreshop/css/main.css'
            'bundles/estoreshop/css/dropDownMenu.css'
            
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}  
{% endblock stylesheets %}    
    

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/estoreshop/js/dropDownMenu.js') }}" ></script>
{% endblock %}
    
{% block body %}
   <div id="container">
        <div id="header">
            <div id="header-content">
                <ul id="nav">
                    {% render "eStoreShopBundle:Store:headerNavigation" %}
                <!-- nav end -->
                </ul>
                <div id="cart-widget" class="shadow">
                    {% render "eStoreShopBundle:Store:cartWidget" %}
                <!-- cart-widget end -->
                </div>
            <!-- header-content end -->
            </div>
        <!-- header end -->
        </div>
        
        <div id="page">
            
            
             <div id="main">
            	{% block main %}
                
                <!-- products-container end -->
                {% endblock %}
                
                {# FOSUser #}
                {% block content %}
                    {% block fos_user_content %}{% endblock %}
                {% endblock %}
                
            </div>
        <!-- page end -->
        </div>
    <!-- container end -->
    </div>
    
    
    <div id="footer">
    	<div id="footer-content">
            <h3>Item1</h3>
            <h3>Item2</h3>
            <h3>Item3</h3>
            <h3>Item4</h3>        
        <!-- footer-content end -->
        </div>
    <!-- footer end -->
    </div>
{% endblock %}