{% extends 'eStoreShopBundle::adminLayout.html.twig' %}

{% block container %}
    <h2>Product edit</h2>

    <form action="{{ path('eStoreShopBundleAdmin_product_update', { 'id': product.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>
    
     {% set imageFullName = product.id ~ '-' ~ product.imageName %}
     {% set imageFullPath  = '/uploads/products/' ~ imageFullName %}
    
    <img src="{{ imageFullPath | apply_filter('my_thumb') }}" />
    
    <ul class="record_actions">
        <li>
            <a href="">
                Back to the list
            </a>
        </li>
        <li>
            <form action="" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}