{% extends 'eStoreShopBundle::adminLayout.html.twig' %}

{% block container %}

    <table id="entity-list">
        
        <caption class="darker"><h2>eStore Entities</h2></caption>
        
        <tr>
            <td>Products</td>
            <td><img src="/bundles/estoreshop/img/list-gray.png" /> List</td>
            <td><img src="/bundles/estoreshop/img/add-gray.png" /> Add</td>
        </tr>
        <tr class="darker">
            <td>Categories</td>
            <td><img src="/bundles/estoreshop/img/list-gray.png" /> List</td>
            <td><img src="/bundles/estoreshop/img/add-gray.png" /> Add</td>
        </tr>
        <tr>
            <td>Users</td>
            <td><img src="/bundles/estoreshop/img/list-gray.png" /> List</td>
            <td><img src="/bundles/estoreshop/img/add-gray.png" /> Add</td>
        </tr>
        <tr class="darker">
            <td>Groups</td>
            <td><img src="/bundles/estoreshop/img/list-gray.png" /> List</td>
            <td><img src="/bundles/estoreshop/img/add-gray.png" /> Add</td>
        </tr>
        <tr>
            <td>Brands</td>
            <td><img src="/bundles/estoreshop/img/list-gray.png" /> List</td>
            <td><img src="/bundles/estoreshop/img/add-gray.png" /> Add</td>
        </tr>
        <tr class="darker">
            <td>Banners</td>
            <td><img src="/bundles/estoreshop/img/list-gray.png" /> List</td>
            <td><img src="/bundles/estoreshop/img/add-gray.png" /> Add</td>
        </tr>
    </table>


{% endblock %}