{% extends 'eStoreShopBundle::adminLayout.html.twig' %}

{% block container %}

    <div id="entity-list">
        <div>
            <div>Products</div> <div>List</div> <div>Add</div>
        </div>
        <div>
           <div>Categories</div> <div>List</div> <div>Add</div>
        </div>
        <div>
            <div>Users</div> <div>List</div> <div>Add</div>
        </div>
        <div>
            <div>Groups</div> <div>List</div> <div>Add</div>
        </div>
    </div>


{% endblock %}